{% extends 'base.html' %}
{% load url from future %}

{% block title %}Kontakt{% endblock %}
{% block bodyclass %}contact{% endblock %}

{% block content %}
    <h1>Kontakt</h1>

    <h2>Autoren</h1>
    <p>Diese Seite wird von Danilo Bargen unterhalten. Du kannst mich per E-Mail unter
    <a href="mailto:gezuru@gmail.com">gezuru@gmail.com</a> erreichen.</p>
    <p>Folgende Personen haben zu diesem Projekt beigetragen:</p>
    <ul>
        <li>Danilo Bargen (<a href="mailto:gezuru@gmail.com">e-mail</a>, <a href="https://twitter.com/dbrgn">twitter</a>, <a href="https://github.com/dbrgn">github</a>)</li>
        <li>Philip Stutz (<a href="mailto:philip.stutz@gmail.com">e-mail</a>, <a href="https://twitter.com/phstz">twitter</a>, <a href="https://github.com/pstutz">github</a>)</li>
        <li>Lorenz Fischer (<a href="mailto:lorenz.fischer@gmail.com">e-mail</a>, <a href="https://twitter.com/lorenzfischer">twitter</a>, <a href="https://github.com/lorenzfischer">github</a>)</li>
        <li>stefan (<a href="https://twitter.com/zollinger">twitter</a>, <a href="https://github.com/zollinger">github</a>)</li>
        <li>2ni (<a href="https://twitter.com/2ni">twitter</a>, <a href="https://github.com/2ni">github</a>)</li>
        <li>benny (<a href="https://github.com/bennyschudel">github</a>)</li>
        <li>Valio (<a href="https://twitter.com/Valio_ch">twitter</a>, <a href="https://github.com/valioDOTch">github</a>)</li>
    </ul>

    <h2>Mithelfen?</h2>
    <p>Wenn du ein Entwickler oder Designer bist, oder sonst irgendwie mithelfen willst,
    kannst du das Projekt auf <a href="https://github.com/dbrgn/gesagt-im-parlament.ch">GitHub</a>
    "forken" und mir dann einen Pull Request senden, oder mich einfach per E-Mail kontaktieren.
    Mithilfe ist ausdrücklich erwünscht! :)</p>

    <h2>Sponsoren / Unterstützer</h2>
    <a href="http://www.webfaction.com/" class="sponsoring_logo"><img src="{{ STATIC_URL }}img/logo_webfaction.png" alt="Webfaction Logo" title="Hosting by Webfaction"></a>
    <a href="http://makeopendata.ch/" class="sponsoring_logo"><img src="{{ STATIC_URL }}img/logo_makeopendata.png" alt="MakeOpenData Camp Logo" title="Make Open Data Camp 2011"></a>
{% endblock %}
