{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Home{% endblock %}
{% block bodyclass %}home{% endblock %}

{% block content %}
    <h1>{% trans 'Was tut ein Parlamentarier?' %}</h1>

    <p>Was leisten Parlamentarier so im National- und Ständerat? Dies ist eine Frage, die die
    meisten Bürger wohl nicht beantworten können. Dieses Projekt versucht, die Schwerpunkte
    alle Vorstösse von Parlamentariern und Parlamentarierinnen im Parlament zu visualisieren.</p>

    <h2>Was wird hier visualisiert?</h2>
    <p>In diesem Projekt wurden alle parlamentarischen Vorstösse seit Winter 1995 berücksichtigt.
    Die Vorstösse werden aus der parlamentarischen Geschäftsdatenbank
    "<a href="http://www.parlament.ch/d/dokumentation/curia-vista/Seiten/default.aspx">Curia Vista</a>"
    bezogen und analysiert. Die am häufigsten verwendeten Worte werden in einer
    sogenannten "<a href="http://de.wikipedia.org/wiki/Schlagwortwolke">Tag Cloud</a>"
    (Schlagwortwolke) dargestellt. Je grösser das Wort, desto häufiger wurde es vom jeweiligen
    Parlamentarier verwendet. Wörter aus dem Titel der Vorstösse werden dreifach gewichtet. Man
    sieht so sehr schnell die Schwerpunkte der Politiker.</p>

    <h2>Wie / warum ist dieses Projekt entstanden?</h2>
    <p>Dieses Projekt ist im Rahmen des <a href="http://makeopendata.ch/">Make Open Data Camp 2011</a>
    in Zürich entstanden. Das Ziel der Veranstaltung war, vorhandene öffentliche Daten zu nutzen und zu
    zeigen, wie vielfältig die Anwendungen sind, wenn öffentliche Daten in maschinenlesbarer Form
    bereitgestellt werden. Open Data trägt zur Transparenz des Staatswesens bei und sollte
    vermehrt gefördert werden. Der Programmcode dieses Projektes ist
    <a href="https://github.com/gwrtheyrn/gesagt-im-parlament.ch">offen verfügbar</a>, so dass
    interessierte Entwickler davon profitieren können und auf der gemachten Arbeit aufbauen können.
    Jeder Interessierte kann mithelfen! So profitieren alle davon.</p>

    <h2>Ich will mehr wissen!</h2>
    <p>Falls du weitere Informationen möchtest, kannst du dich auf
    <a href="https://github.com/gwrtheyrn/gesagt-im-parlament.ch">GitHub</a> über die technischen
    Aspekte informieren, oder jemanden von uns direkt <a href="{% url 'contact' %}">kontaktieren</a>.</p>

    <br>

    <!-- Google +1 -->
    <div class="g-plusone" style="display: inline-block;"></div>
    <script type="text/javascript">
      window.___gcfg = {lang: 'de'};
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <!-- End Google +1 -->

    <!-- Twitter -->
    <div style="display: inline-block;">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://gesagt-im-parlament.ch/" data-text="Wer sagt was im Parlament wie oft? #makeopendata #schweiz #parlament" data-count="horizontal" data-via="helligusvart" data-related="phstz:C" data-lang="de">Tweet</a>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    </div>
    <!-- End Twitter -->

    <!-- Facebook -->
    <div id="fb-root" style="display: inline-block; padding-left: 20px;"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="http://gesagt-im-parlament.ch/" data-send="false" data-width="450" data-show-faces="true" data-action="recommend"></div>
    <!-- End Facebook -->
{% endblock %}
