{% extends 'base.html' %}

{% block title %}Personen{% endblock %}
{% block bodyclass %}persons{% endblock %}

{% block content %}
    <h1>Parlamentarier</h1>

    <div>
        <p>Hier findest du die Parlamentarier der Schweiz, geordnet nach Partei.
        Klicke einfach auf das gewünschte Bild, um die Detailinformationen anzuzeigen.</p>
    </div>
    
    <h2>Parteien</h2>
    <div class="row alert-message block-message info">
        {% for party in parties %}
            {% if party.short_name %}
                <span class="tag"><a href="#{{ party.short_name }}">{{ party.short_name }}</a> ({{ party.person_count }})</span> | 
            {% endif %}
        {% endfor %}
        <span class="tag"><a href="#unknown">Unbekannt</a> ({{ noparty_persons.count }})</span>

       <!-- <div class="span7">
            <ul class="unstyled">
                {% for party in parties|slice:":10" %}
                <li></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span7">
            <ul class="unstyled">
                {% for party in parties|slice:"10:" %}
                <li><span class="label">{{ party.person_count }}</span> <a href="#{{ party.short_name }}">{{ party.full_name }}</a></li>
                {% endfor %}
                <li><a href="#unknown">Unbekannte Partei</a> ({{ noparty_persons.count }} Pers.)</li>
            </ul>
        </div>-->
    </div>

    <h2>Personen</h2>

    {% for party in parties %}
        {% if party.short_name %}
            <h3 id="{{ party.short_name }}">{{ party.full_name }} ({{ party.person_count }})</h3>
            <div class="media-grid persons">
                {% for person in party.persons.all %}
                    {% include 'person_block.html' %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    <h3 id="unknown">Unbekannte Partei ({{ noparty_persons.count }})</h3>
    <div class="media-grid persons">
        {% for person in noparty_persons %}
            {% include 'person_block.html' %}
        {% endfor %}
    </div>

{% endblock %}
